.class-page {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
}

.class-page button.btn {
  margin-bottom: 10px;
  width: 300px;
  color: white;
  background-color: #009DAE;
  border-color: #009DAE;
  transition: 0.3s ease-out;
}

.class-page button.btn:hover {
  background-color: #017987;
  border-color: #017987;
}

.class-page .class-index {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.class-page .class-index .new-info p {
    color: red;
}

.class-page .class-index .class-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
}

.class-page .class-list li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  width: 500px;
  border-radius: 8px;
  background-color: #71DFE7;
  color: white;
  transition: 0.3s ease-out;
}

.class-page .class-list li a:hover {
  background-color: #009DAE;
}

.class-page .class-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.class-page .class-form input {
  padding: 5px;
  margin-bottom: 10px;
  width: 80%;
}

.class-page .class-form button {
  width: 80%;
  color: white;
}

.class-page .class-form i.fa-times, .class-page .student-form-container i.fa-times {
  padding: 5px;
  position: absolute;
  font-size: 20px;
  top: -25px;
  right: -20px;
}

.class-page .class-form i:hover, .class-page .student-form-container i:hover {
  cursor: pointer;
}

.class-page .student-form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.class-page .student-form-container .student-form-header {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 5px;
  text-align: center;
}

.add-many-tab, .add-one-tab {
  margin: 0 0 20px;
  padding: 10px;
  width: 100%;
  background-color: #FFE652;
  border-radius: 8px;
  text-align: center;
  color: #009DAE;
  font-weight: 700;
  transition: 0.3s ease-out;
}

.add-many-tab:hover, .add-one-tab:hover {
  cursor: pointer;
  background-color: #ffdb05;
}

.class-page .student-form-container .add-many p {
  text-align: left;
}

.class-page .student-form-container textarea {
  padding: 8px;
  width: 100%;
  height: 90px;
  resize: none;
}

.class-page .student-form-container button.btn {
  margin: 10px 0 0;
  width: 100%;
}

.class-page .student-form-container .student-index {
  width: 100%;
  text-align: left;
}

.class-page .student-form-container .student-index ul {
  list-style-type: none;
  display: grid;
  height: 100%;
  width: 100%;
  /* grid-template-rows: repeat(8, 1fr); */
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-gap: 10px;
  padding: 0;
}

.class-page .student-form-container .student-index ul li {
  position: relative;
  display: flex;
  align-items: center;
}

.class-page .student-form-container .student-index ul li i {
  position: relative;
  margin-left: 3px;
  color: #009DAE;
  transition: 0.3s ease-out;
}

.class-page .student-form-container .student-index ul li i:hover {
  color: #71DFE7;
}

.class-page .student-form-container .student-index ul li .dots {
  display: flex;
  align-items: center;
}

.class-page .student-form-container .student-index ul li .dots:hover {
  cursor: pointer;
}

.class-page .student-form-container .student-index ul li .dots .panel {
  display: flex;
  align-items: center;
}

.class-page .student-form-container .student-index ul li .panel button {
  font-size: 12px;
  margin: 1px;
  padding: 1px;
  background-color: #FFE652;
  color: #009DAE;
}

.class-page .student-form-container .student-index ul li .panel button:hover {
  background-color: #FFCCCC;
  color: #009DAE;
}

.class-page .separator {
  height: 10px;
  width: 500px;
  margin-top: 10px;
  border-bottom: 1px solid #FFE652;
}

.class-page h1 {
  margin-top: 30px;
}

.class-page .class-list a {
  text-decoration: none;
}