.report-form-title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#report-student-name {
  margin: 2em 4em 0 0;
  align-items: center;
  font-size: 24px;
  text-align: center;
  vertical-align: center;
}

.report-form {
  /* min-width: 50em; */
  background-color: #C2FFF9;
}

.report-form-top, .report-form-bottom {
  margin: 3em 3em 1em 3em;
  padding: 3em;
  display: flex;
  justify-content: space-between;
  /* min-width: 50em; */
  border-radius: 8px;
  background-color: #C2FFF9;
}

.report-form-top {
  margin: 1em 3em 1em;
}

.report-form-bottom {
  display: flex;
  flex-direction: column;
  background-color: #71DFE7;
  padding: 1em;
  margin: 1em 6em;
  border-radius: 8px;
}

/* #all-cat-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
} */

#all-cat-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em;
}

.cat-container {
  display: inline-flex;
  flex-direction: column;
}

.multi-radio-container {
  background-color: #71DFE7;
  padding: 1em;
  border-radius: 8px;
}

.report-radio {
  display: flex;
  margin: 0 2em 0 2em;
  align-items: center;
}

.cat-text {
  margin: 1em 0 0.5em 0;
  text-align: center;
  border-radius: 15px;
  border: 0.1em solid #009DAE;
}

.boolean-radio-container {
  display: flex;
  flex-direction: column;
  background-color: #71DFE7;
  padding: 1em;
  border-radius: 8px;
}

.boolean-values {
  display: flex;
  padding: 0 2em;
  min-width: 10em;
  justify-content: space-around
}

.true-container, .false-container {
  display: flex;
  flex-direction: column;
  padding: 0.3em 0 0 0;
}

.boolean-row, .boolean-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boolean-header h5 {
  margin-right: 0.8rem;
}

.radio-buttons, .true-and-false {
  display: flex;
  justify-content: space-evenly;
  width: 5rem;
}

.true-and-false h6 {
  margin: 0 0.5rem;
}

.boolean-labels {
  margin: 0 0 0 0;
}

.boolean-category {
  line-height: 24px;
  /* margin: 0 3em; */
}

.boolean-radio {
  margin: 0.15em;
}

#report-submit-container {
  margin: 3em;
  padding-bottom: 2em;
  display: flex;
  justify-content: center;
}

#report-data-submit {
  background-color: #009DAE;
  color: white;
  border: none;
  font-size: 18px;
  /* font-weight: 500; */
  border-radius: 5px;
  padding: 12px;
  width: 16em;
  transition: 0.3s ease-out;
  margin-left: 1em;
}

#reset-button {
  padding: 12px;
  border-radius: 5px;
  transition: 0.3s ease-out;
  font-size: 18px;
  color: white;
  background-color: #c6584c;
  width: 12em;
}


#report-data-submit:hover {
  background-color: #017987;
}

#reset-button:hover {
  background-color: #ae1100;
}


input[type=radio] {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  margin: 1;
  font: inherit;
  width: 1.2em;
  height: 1.2em;
  border: 0.1em solid #009DAE;
  border-radius: 25%;
  transform: translateY(-0.1em);
  display: grid;
  place-content: center;
  transition: opacity 0.1s;
}

input[type=radio]::before {
  content: "";
  width: 0.8em;
  height: 0.8em;
  border-radius: 25%;
  transform: scale(0);
  transition: 140ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--radio-filter-color);
}

input[type=radio]:checked::before {
  transform: scale(1);
}

:root {
  --radio-filter-color: #d4bd36;
}

@media (max-width: 1000px) {
  .report-form-top {
    flex-direction: column;
    gap: 3em;
  }

  .multi-radio-container {
    display: flex;
    justify-content: center;
    gap: 3em;
    /* align-items: center; */
  }

  #all-cat-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 726px) {
  #all-cat-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 700px) {
  .multi-radio-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 638px) {
  .boolean-radio-container {

  }
}