.report-form-container {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.report-form {
  margin: 3em;
  padding: 3em;
  display: flex;
  /* flex-direction: column; */
  border: 1px #009DAE solid;
  border-radius: 8px;
  background-color: #C2FFF9;
}

.report-radio {
  display: flex;
  margin: 0 2em 0 2em;
}

.boolean-radio-container {
  display: flex;
}

.boolean-radio {
  display: flex;
  justify-content: flex-end;
}

.boolean-radio > input {
  margin: 0 3em 0 0;
}

.boolean-values {
  display: flex;
  padding: 0 2em;
  min-width: 10em;
  justify-content: space-around
}

.boolean-radio {
  margin: 2.0em 1em;
}

.boolean-values h6 {
  margin: 0 0 1.5em 0;
}

.boolean-labels {
  margin: 2em 0 0 0;
}

.boolean-category {
  padding: 1em;
  margin: 0em 1em;
}

input[type=radio] {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  margin: 1;
  font: inherit;
  width: 1.2em;
  height: 1.2em;
  border: 0.1em solid #009DAE;
  border-radius: 25%;
  transform: translateY(-0.1em);
  display: grid;
  place-content: center;
  transition: opacity 0.1s;
}

input[type=radio]::before {
  content: "";
  width: 0.8em;
  height: 0.8em;
  border-radius: 25%;
  transform: scale(0);
  transition: 140ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--radio-filter-color);
}

input[type=radio]:checked::before {
  transform: scale(1);
}

:root {
  --radio-filter-color: #009DAE;
}